{% extends 'mainpage.html' %}
{% load bootstrap %}
{% block title %}
    <title>Login</title>
{% endblock%}

{% block main_content %}

<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login</h1>
    
        <div class="card py-2 px-2">
        <form class="form" action="" method="POST">
            {% csrf_token %}
            {{ form_login | bootstrap_horizontal }}
            <div class = " align-items-center d-flex w-100">
            <button type="submit" class="btn btn-primary mt-3 me-3">Submit</button>
            <a href = "#" class = "mt-2 me-5"> Create your new Account</a>

            </div>
        </form>
    </div>
    </div>
</div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter username"
    form_fields[2].placeholder = "Enter Password"
   for(field in form_fields){
   form_fields[field].className += ' my-4'
   }
</script>

{% endblock %}