.navi{
  display:flex;
  justify-content: space-between;
}

.nav1 {
  background-color: rgb(0, 131, 143);
}

.nav2 {
  background-color: rgb(0, 105, 114);
}
.navi {
  padding-left: 40%;
}

.nav_home {
  margin-left: 70px;
}


.foot1 {
  background-color: rgb(0, 105, 114);
  height: max-content;
  width: auto;
}

.social {
  padding: 30px 30px;
  display: flex;
}

.foot1 {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style-type: none;
  float: left;
  margin: 10px;
}

.foot2 {
  background-color: rgb(0, 131, 143);
  height: max-content;
}

.foot2 li{
  list-style: none;
}



.footcon {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  text-decoration: none;
}


.mySlides {
  display: none;
}

.mySlides {
  width: 100%;
  height: 100vh;
}

#left{
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 1.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  height: 100vh;
}

#left:hover{
  background-color: rgba(0, 131, 143, 0);
}

#right{
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 97.8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#right:hover{
  background-color: rgba(0, 255, 255, 0);
}

.img{
  position: relative;
}
/* registration */

.reg{
  background-image:url(/static/images/a-photo-of-stethoscopes-and-patient-registration-form-on-white-background-KYT51M.jpg);
  background-size: cover;
}

*[role="form"] {
  max-width: 730px;
  margin: 0 auto;
  border-radius: 0.3em;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 90, 150, 0.096);}


*[role="form"] h2 {
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

*[role="form"] label {
  color: #000000;
}


.logimg{
  height: auto;
  width: 350px;
}

.reg-btn{
  background-color: rgb(0, 131, 143);
}

.reg-btn:hover{
  background-color: rgb(254, 255, 255);
}

.gradient-form{
  background-image: url(/static/images/rethink-target-heart-rate-number-ftr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  background: rgba(0, 90, 150, 0.096);
}

.register{
  display: flex;
  justify-content: center;
}

/* contact */

.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

/* dashdord */



/* navbar */

/* end navbar */