.nav1{
  background-color:rgb(0,131,143);
}

.nav2{
  background-color:rgb(0,105,114);
}
.ml {
 display: flex;
 justify-content: space-between;
 padding-left: 40%;
}
.nav_home{
margin-left: 70px;
}


.foot1 {
  background-color: rgb(0,105,114);
  height: auto;
  width: auto;
}

.social{
  padding: 30px 30px;
  display: flex;
}

.foot1{
  display: flex;
  justify-content: space-around;
}



.list{
  list-style-type: none;
  float: left;
  margin: 10px;
}

.foot2{
  background-color:  rgb(0,131,143);
  height: 300px;
}

.footcon{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

a{
  color: black;
}

.mySlides {display:none;}

.mySlides{
  width: 100%;
  height: 100vh;
}