{% include 'base.html' %}
{% include 'header.html' %}
{% block body %}
<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="aboutus-image float-left hidden-sm"><img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-online-doctor-consultation-image_2248276.jpg" alt=""></div>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="aboutus-content ">
                    <h2><p><span>WELCOME TO HMS</span></p>
                      <span>Hospital</span></h2>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, repellat sit numquam placeat officiis deserunt excepturi quaerat alias nulla quasi mollitia obcaecati atque perferendis cumque quibusdam. Exercitationem a accusantium tempore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima iure, nisi quis ea dignissimos facilis sit, labore dicta vero enim delectus ipsam. Odit, cum dolorem. Omnis enim neque quam.</p>

                    <div class="counter ">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-counter text-center">
                            <h2 class="counter"><span>15</span></h2>
                            <p>YEARS open from</p>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}