
<div class="foot1">
    <div class="social">
      <h6>Get connected with us on social networks!</h6>
    </div>
    <div class="icon">
      <ul class="list">
        <li class="list">
          <a href=""><img src="/static/images/icon/facebook.png" alt="Facebook" /></a>
        </li>
        <li class="list">
          <a href=""><img src="/static/images/icon/twitter.png" alt="Twitter" /></a>
        </li>
        <li class="list">
          <a href=""><img src="/static/images/icon/gmail.png" alt="Gmail" /></a>
        </li>
        <li class="list">
          <a href=""><img src="/static/images/icon/linkedin.png" alt="Linkdin" /></a>
        </li>
        <li class="list">
          <a href=""><img src="/static/images/icon/instagram.png" alt="Instagram" /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="foot2">
    <div class="footcon">
      <div>
        <h6>Nobel Community Health</h6>
        <p>Lorem ipsum dolor sit amet . <br> nulla, facilis mollitia soluta . <br>Corrupti beatae ex natus  <br> voluptates aperiam illum <br>, vitae aspernatur.</p>
      </div>
      <div >
        <h6>PRODUCTS</h6>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Appointment</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Event</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">About Us</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Emergency</a>
        </p>
      </div>
      <div>
        <h6>USEFUL LINKS</h6>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Your Account</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">link</a>
        </p>
        <p>
          <a class="text-decoration-none link-dark" href="#!">Help</a>
        </p>
      </div>
      <div>
        <h6>CONTACT</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Kathmandu,Nepal</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> nch100@hotmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 9840014021</p>
        <p>
          <i class="fas fa-print mr-3"></i> 9840014021</p>

      </div>
    </div>
  </div>