{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Homepage</title>
{% endblock title %}

{% block main_content %}
<!-- <div class="img">
  <video class="mySlides img-fluid " autoplay loop muted>
    <source
      src="/static/images/Agua-natural.mp4"
      type="video/mp4"
    />
  </video>
  <video class="mySlides img-fluid " autoplay loop muted>
    <source
      src="/static/images/forest.mp4"
      type="video/mp4"
    />
  </video> -->
    <img class="mySlides img-fluid" src="/static/images/doc.png" />
    <img class="mySlides img-fluid" src="/static/images/fee.jpg" />
    <img class="mySlides img-fluid" src="/static/images/hospital.png" />
    <img class="mySlides img-fluid" src="/static/images/3821255.jpg" />
    <img class="mySlides img-fluid" src="/static/images/4113320.jpg" />
    <button class="slides"  id="left" onclick="plusDivs(-1)"><</button>
    <button class="slides"  id="right" onclick="plusDivs(1)">></button>
  </div>

{% endblock main_content %}