<!DOCTYPE html>
<html>
<head>
    {% include 'base.html' %}
    {% load static %}
    <title>Admin view Patient</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>
<body>

    <div id="wrapper">
        {% include 'admin_side.html'%}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: black;"></i></a>
                <h2 class="text-center">ALL Patient</h2>
                <section id="team" class="pb-5">
                    <div class="container">
                       <table class="table" id="example"><!--table-hover-->
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Phone Number</th>
                                    <th>Date of Birth</th>
                                    <th>Blood Group</th>
                                    <th>Address</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in patient %}
                                <tr style="color: black;">
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.gender }}</td>
                                    <td>{{ i.phonenumber }}</td>
                                    <td>{{ i.birthdate }}</td>
                                    <td>{{ i.bloodgroup }}</td>
                                    <td>{{ i.address }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>
</html>