{% extends 'doctor_layout.html' %}

{% load static %}
{% block title %}
<title>Doctor Dashboard </title>
{% endblock %}
{% block main_content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }

    .card-body a:hover{
    color:orange;
    }

</style>
<div class="container">
    <h1>Admin Dashboard</h1>

    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Doctor Appointment</div>
                <div class="card-body">
                    <a href="#">
                        <h1 class="card-title text-center"></h1></a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Comment</div>
                <div class="card-body">
                    <a href="#"><h1 class="card-title text-center"></h1>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div class="row">

        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body">
                    <a href="#"><h1 class="card-title text-center"></h1></a>

                </div>
            </div>
        </div>

    </div>
    <div class="row">


        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <a href="#"> <h1 class="card-title text-center"></h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
